:root {
	--base00: #111111;
	--base01: #191919;
	--base02: #eeeeee;
	--base03: #eeeeee;
	--base04: #eeeeee;
	--base05: #eeeeee;
	--base06: #eeeeee;
	--base07: #eeeeee;
	--base08: #eeeeee;
	--base09: #eeeeee;
	--base0A: #eeeeee;
	--base0B: #eeeeee;
	--base0C: #eeeeee;
	--base0D: #eeeeee;
	--base0E: #eeeeee;
	--base0F: #eeeeee;
}
